<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="header-msg-cntr">
            <span class="header-msg">
              Hi! {{appStore.user.username}}
            </span>
          </ion-col>
          <ion-col size="4" align-self-end>
            <ion-button *ngIf="appStore.selectedThread"
                         class="current-thread-btn"
                         color="medium"
                         fill="clear"
                         expand="full"
                         size="small"
                         (click)="toggleMenu()">
              Thread: {{appStore.selectedThread?.name}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ng-container *ngIf="canGoBack()">
        <ion-button (click)="ionRouterOutlet.pop()">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
