<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu">
        <ion-list-header>
          <ion-label class="menu-label">Threads:</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let thread of appStore.userThreads">
          <ion-button expand="full" fill="outline"
            [class.selected-thread]="appStore.isSelected(thread)"
            (click)="selectThread(thread)">
            {{thread.name}}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
