<ion-card *ngIf="note">
  <ion-card-header>
    <ion-item>
      <div class="title-info">
        <div class="title-cntr">
          <ion-label class="note-title">{{ ontoUtils.getTitle(note) }}</ion-label>
          <ion-button fill="outline" (click)="showDetails()">View</ion-button>
        </div>
        <div class="note-classes">
          <ion-chip *ngFor="let className of getClasses(note)"
            [color]="isUnhandled(className) ? 'warning' : 'primary'"
            [outline]="true">
            <ion-label>{{className}}</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <p *ngFor="let text of ontoUtils.getText(note)" class="note-text">
      {{text}}
    </p>
  </ion-card-content>
</ion-card>
