.title-info{
  width: 100%;
}

.title-cntr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note-title {
  align-self: center;
  max-width: 85%;
}

.note-text {
  white-space: pre-line;
}

.note-actions {
  display: contents;
}

.note-classes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
