<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="appStore.loadNotesInThread($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ng-container *ngFor="let note of appStore.notes | notesFilter">
      <semn-note
        [note]="note"
        (detailsShown)="showDetailsFor($event)">
      </semn-note>
    </ng-container>
  </ion-list>
</ion-content>
