<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle i18n>id: {{entity.getLocalId()}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
        <ion-chip
          [color]="'primary'"
          [outline]="true">
          <ion-label i18n>Classes:</ion-label>
        </ion-chip>
        <div class="onto-classes">
          <span *ngFor="let path of classes">
            <span *ngFor="let cls of path; first as isFirst; last as isLast">
              {{ !isFirst ? '->' : '' }} {{cls.getLocalId()}}
            </span>
            <br />
          </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-label>{{ ontoUtils.getTitle(entity) }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <p *ngFor="let text of ontoUtils.getText(entity)" class="note-text">
        {{text}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
